<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="board">
            <h2><span>Board</span> {{board.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{board.title}}</span>
                </dd>
                <dt><span>Contents</span></dt>
                <dd>
                    <span>{{board.contents}}</span>
                </dd>
                <dt><span>Created Date</span></dt>
                <dd>
                    <span>{{board.createdDate}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/board', board.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
